
.container{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    margin-top:20px;
    clear:both;

}

.cont{
    width: 100%;
    display:block;
    background-color: rgb(218, 224, 224);
    padding: 10px;
    margin-top:20px;
    text-align: start;

}

a{
    margin-left:20px;
    text-decoration: none;
    color:rgb(61, 79, 184);

}
a:hover{
    color:rgb(20, 20, 102);
    text-decoration: underline;

}