{% extends "student_portal/base.html" %}

{% load static %}


{% block title %} {{ title }} {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'student/css/home.css' %}">
{% endblock styles %}


{% block content %}
    <div>
        <h3>Class Link : <span><a href="{{ link.link_url }}">{{ link.link_url }}</a></span></h3>
    </div>

    <h3>Timetable</h3>
    <div class='tt'>
        <table id="timetable">
                        
                        
        </table>
    </div>
       


{% endblock content %}

{% block scripts %}  

<script>
        
    tt_json = JSON.parse("{{ timetable|escapejs }}");

    table = document.getElementById("timetable");
    header_row = document.createElement("TR");

    table.appendChild(header_row);
   

    for (header in tt_json) {
        cell = document.createElement("TH");
        header_row.appendChild(cell);
        cell.innerHTML = header;
    }

    for (var i=0; i<5; i++ ){
        row = document.createElement("TR");
        table.appendChild(row);
        index = i.toString();
        for (column in tt_json) {
            cell = document.createElement("TD");
            row.appendChild(cell);
            if ( tt_json[column][index] === 'Unnamed: 0') {
                cell.innerHTML = "";
            }else{
            cell.innerHTML = tt_json[column][index];
            }
        }
    }
</script>

{% endblock scripts %}
