
body{
    background-color: rgb(226, 225, 223);
    padding:20px;

}

header h2{
    width:100%;
    border-bottom: 1px solid grey;
    padding:10px;
    padding-left:0;
    font-size:30px;

}
header p{
    font-size:20px;
}

div.nav{
    height: 80px;
    display:block;
    clear:both;

}

.nav div.tabs #nav-box{
    display:block;
}

.nav div.tabs a{
    display:inline-block;
    width: 200px;
    height: 50px;
    margin: 50px;
    padding:10px;
    background-color: rgb(238, 190, 127);
    border-radius:5px;
    border: 2px solid rgb(83, 83, 83);
    
}
.tabs{
    text-align:center;
    padding:5px;
    
}
.main{
    margin-top:120px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgb(83, 83, 83);
    padding:20px;
    width:70%;
    text-align:center;
    background-color: rgb(238, 190, 127);
}

input {
    margin:20px;
}