
body{
    background-color: rgb(226, 225, 223);
    padding:20px;

}


header h2{
    width:100%;
    border-bottom: 1px solid grey;
    padding:10px;
    padding-left:0;
    font-size:30px;
    color:rgb(205, 205, 211);
}
.log{
    float:right;
}
header p{
    font-size:20px;
    color:rgb(205, 205, 211);

}

div.nav{
    height: 80px;
    display:block;
    clear:both;

}

.nav div.tabs #nav-box{
    display:block;
}

.nav div.tabs a{
    display:inline-block;
    width: 230px;
    height: 35px;
    margin: 80px;
    margin-top:0;
    padding:10px;
    background-color: rgb(126, 146, 184);
    border-radius:5px;
    border: 2px solid rgb(83, 83, 83);
    font-size:23px;
    color:rgb(19, 27, 41);
    text-decoration: none;
    
}
.tabs{
    text-align:center;
    padding:5px;
    
}
.main{
    margin:10px;
    
}
.container{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    margin-top:80px;
    clear:both;

}

header{
    background-color: rgb(19, 42, 75);
    width:100%;
    margin:-60px;
    padding:60px;
    
}

.logout{
    padding:8px;
    background-color: rgb(223, 91, 68);
    color:rgb(35, 45, 68);
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
}
.logout:hover{
    background-color: rgb(184, 50, 26);
    text-decoration: none;
}

    
