
.main1{
    margin-top:80px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:1px solid rgb(83, 83, 83);
    padding:20px;
    width:90%;
    text-align:center;
    background-color: rgb(218, 224, 224);
    
}

input {
    margin:20px;
}

.cont1{
    float:left;
}

h3 {
    clear:both;
}

.edit_notices {
    float:left;
}

.edit_notices li{
    list-style-type: none ;
}
.main1{
    display:flex;
    flex-direction: column;
}
li {
    margin-left:-40px;
}
.flex{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color:rgb(161, 169, 170);
    padding:15px;
    margin:15px;
}

.mssg {
    width:80%;
    float:left;
    overflow-x: auto;
    flex-wrap: wrap;
    text-align: left;
}

.btn{
    width:auto;
    margin:-20px;
    margin-left:15px;
    align-content: end;
}

p{
    margin:3px;
    float:left;
    font-size:20px;
}

.btn input[type='submit']{
    padding:3px;
    background-color: rgb(76, 95, 143);
    color:white;
    float:right;
    border-radius: 5px;
}