{% extends "teacher_portal/base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'teacher/css/links.css' %}">
{% endblock %}


{% block content %}

    <h3>Class links</h3>

    <div class="container">

        <div class='cont'>Class 1 - <a href="{{ object_list.0.link_url }}">{{ object_list.0.link_url }} </a></div>
        <div class='cont'>Class 2 - <a href="{{ object_list.1.link_url }}">{{ object_list.1.link_url }} </a></div>
        <div class='cont'>Class 3 - <a href="{{ object_list.2.link_url }}">{{ object_list.2.link_url }} </a></div>
        <div class='cont'>Class 4 - <a href="{{ object_list.3.link_url }}">{{ object_list.3.link_url }} </a></div>
        <div class='cont'>Class 5 - <a href="{{ object_list.4.link_url }}">{{ object_list.4.link_url }} </a></div>
        <div class='cont'>Class 6 - <a href="{{ object_list.5.link_url }}">{{ object_list.5.link_url }} </a></div>
        <div class='cont'>Class 7 - <a href="{{ object_list.6.link_url }}">{{ object_list.6.link_url }} </a></div>
        <div class='cont'>Class 8 - <a href="{{ object_list.7.link_url }}">{{ object_list.7.link_url }} </a></div>
        <div class='cont'>Class 9 - <a href="{{ object_list.8.link_url }}">{{ object_list.8.link_url }} </a></div>
        <div class='cont'>Class 10 - <a href="{{ object_list.9.link_url }}">{{ object_list.9.link_url }} </a></div>


    </div>

{% endblock content %}
