

table,td,th{
    border: 1px solid rgb(41, 75, 138);
    padding:10px;
    background-color:rgb(221, 223, 224);
}
table {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

h3 span a{
    text-decoration: none;
    color:rgb(61, 79, 184);

}
h3 span a:hover{
    color:rgb(20, 20, 102);
    text-decoration: underline;

}
