


.board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(15, 92, 66);
    color:rgb(214, 209, 209);
    border:12px solid rgb(44, 43, 43);
    border-radius:7px;
    padding:20px;
    min-height: 400px;
    text-align:center;
    width:70%;    
    text-align:left;
}
li {
    margin-top:10px;
}
h3{
    margin:0;
    width:100%;
    font-size: 22px;
}

p{
    text-align: end;
    width:100%;
}
