{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Class links</title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}" type="text/css" >
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <div>
            <div class="log">
                <a href="{% url 'adminPortal:logout' %}" >logout</a>
            </div>
            <div>
                <h2>Admin Portal</h2>
            </div>
            
        </div>

        
        <p> Welcome Admin </p>

    </header> 

    <div class="main">    

        <div class="nav">
            <div class="tabs">
                <div id="nav-box">
                    <a class="current" href="{% url 'adminPortal:home' %}"><div >Class Links</div></a>
                    <a href="{% url 'adminPortal:timetable' %}"><div>Timetables</div></a>
                    <a href="{% url 'adminPortal:notice' %}"><div>Noticeboard</div></a>
                </div>
            </div>
        </div>

    

        <div class="container">

                    <div class="link_cont">

                        <button class="link-btn" style="width:100%;height:40px;">Class 1 - <a href="{{ object_list.0.link_url }}">{{ object_list.0.link_url }} </a> 
                        <a href="{% url 'adminPortal:upload_link' object_list.0.id  %}" >Add/Update Link</a></button>    

                    </div>
                    <div class="link_cont">

                        <button class="link-btn" style="width:100%;height:40px;">Class 2 -  <a href="{{ object_list.1.link_url }}">{{ object_list.1.link_url }} </a> 
                        <a href="{% url 'adminPortal:upload_link' object_list.1.id  %}" >Add/Update Link</a></button>    

                    </div>
                    <div class="link_cont">

                        <button class="link-btn" style="width:100%;height:40px;">Class 3 - <a href="{{ object_list.2.link_url }}">{{ object_list.2.link_url }} </a> 
                        <a href="{% url 'adminPortal:upload_link' object_list.2.id  %}" >Add/Update Link</a></button>    

                    </div>
                    <div class="link_cont">

                        <button class="link-btn" style="width:100%;height:40px;">Class 4 - <a href="{{ object_list.3.link_url }}">{{ object_list.3.link_url }} </a> 
                        <a href="{% url 'adminPortal:upload_link' object_list.3.id  %}" >Add/Update Link</a></button>    

                    </div>
                
        </div>
            
             
    </div>



</body>
</html>