{% extends 'admin_portal/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_portal/css/notice.css' %}" type="text/css" >

{% endblock styles %}

{% block content %}
    <div class="main1">    

        <div class='cont1'>
            <h3>Make an announcement</h3>

            <form action='' method='post' enctype="multipart/form-data">

                    {% csrf_token %}
                    <textarea rows='3' cols='50' name='mssg'></textarea>
                                              
                    <input type='submit' name='new_notice' value='Send'> 

            </form>
            
        </div>
        
        <h3>Current notices</h3>

        <div class='edit_notices'>
            <ul>
                {% for notice in notices %}

                <li>
                    <div class='flex'>
                        <div class='mssg'>
                
                            <p>{{ notice.mssg }} - <small>{{ notice.date }}</small></p>

                        </div>

                        <div class='btn'>
                            <form action='' method='post' enctype="multipart/form-data">
                                {% csrf_token %}

                                <input type='hidden' name='notice_id' value={{ notice.id }}>
                                <input type='submit' name="close_notice" value='Close this notice'>

                            </form>
                        </div>
                    </div>

                </li>
                {% endfor %}
            </ul>
        
        </div>
             
    </div>

{% endblock content %}

</body>
</html>
       