{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Timetables</title>
    <script src="https://kit.fontawesome.com/f91dab228a.js"></script>
    
    <link rel="stylesheet" href="{% static '/css/tt.css' %}" type="text/css" >

</head>

<body>
    <header>
        <div>
            <h2>Admin Portal</h2>
        </div>

        <p> Welcome Admin </p>

    </header> 


    <div class="nav">
        <div class="tabs">
            <div id="nav-box">
                <a class="current" href="{% url 'adminPortal:home' %}"><div >Class Links</div></a>
                <a href="{% url 'adminPortal:timetable' %}"><div>Timetables</div></a>
                <a href="{% url 'adminPortal:notice' %}"><div>Noticeboard</div></a>
            </div>
        </div>
    </div>

    <div class="main">    

            <div class="cont">
                <ul >
                    <li class="list-group-item">
                    Class 1
                    <div> 
                        <div>
                            <table id="1">
                        
                        
                            </table>
                        </div>

                        <div>
                            <button class="tt-btn" style="width:200px;"><a href="#" >Add/Update Timetable</a></button>    

                            <h3>Update Timetable</h3>
                            <form action='' method='post' enctype="multipart/form-data">

                                {% csrf_token %}
                                <label for="file">Select an excel file:</label>
                                <input type='file' id="excel_file" name='excel_file'><br>
                                <input type='hidden' name='std' value="1">

                                <input type='submit' value='Update'> 

                            </form> 
                        </div>
                    </div>
                    
                    
                    </li>


                    <li class="list-group-item">
                        Class 2
                        <div> 
                            <div>
                                <table id="2">
                            
                            
                                </table>
                            </div>
    
                            <div>
                                <button class="tt-btn" style="width:200px;"><a href="#" >Add/Update Timetable</a></button>    
    
                                <h3>Update Timetable</h3>
                                <form action='' method='post' enctype="multipart/form-data">
    
                                    {% csrf_token %}
                                    <label for="file">Select an excel file:</label>
                                    <input type='file' id="excel_file" name='excel_file'><br>
                                    <input type='hidden' name='std' value="2">

                                    <input type='submit' value='Update'> 
    
                                </form> 
                            </div>
                        </div>
                        
                        
                        </li>
                    
                </ul>
                
                
            </div>
                
    </div>
    
    <script>
        var array = {{ tt_array|safe }}
       // var array = [ '{"c1":{"0":"s1","1":"s2"},"c2":{"0":"s11","1":"s22"}}', '{"c1":{"0":"s1","1":"s2"},"c2":{"0":"s11","1":"s22"}}']
        var k=1;
        for (i=0; i<2;i++) {
            tt_json = JSON.parse(array[i]);
            table = document.getElementById(k.toString());
            header_row = document.createElement("TR");
    
            table.appendChild(header_row);
        
        
            for (header in tt_json) {
                cell = document.createElement("TH");
                header_row.appendChild(cell);
                cell.innerHTML = header;
            }
        
            const row_count = 5;
            for (var j=0; j<5; j++ ){
                row = document.createElement("TR");
                table.appendChild(row);
                index = j.toString();
                for (column in tt_json) {
                    cell = document.createElement("TD");
                    row.appendChild(cell);
                    
                    cell.innerHTML = tt_json[column][index];
                    }
                }

            k = (k + 1);
            }

        


/*
        tt_json = JSON.parse("{{ timetable|escapejs }}");
    
        table = document.getElementById("timetable");
        header_row = document.createElement("TR");
    
        table.appendChild(header_row);
       
    
        for (header in tt_json) {
            cell = document.createElement("TH");
            header_row.appendChild(cell);
            cell.innerHTML = header;
        }
    
        const row_count = 5;
        for (var i=0; i<5; i++ ){
            row = document.createElement("TR");
            table.appendChild(row);
            index = i.toString();
            for (column in tt_json) {
                cell = document.createElement("TD");
                row.appendChild(cell);
                if ( tt_json[column][index] === 'Unnamed: 0') {
                    cell.innerHTML = "";
                }else{
                cell.innerHTML = tt_json[column][index];
                }
            }
        }*/
    
    </script>

</body>


</html>


