{% extends 'admin_portal/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_portal/css/tt.css' %}" type="text/css" >

{% endblock styles %}

{% block content %}
    <div class="main">    

            <div class="cont">
                <ul >
                    {% for tt in timetables %} 
                    <li class="list-group-item">
                        <h3>Class {{ tt.std }}</h3>
                        <div class='cont2'> 
                            <div class='tt'>
                                <table id="{{ tt.std }}">
                            
                                </table>
                            </div>

                            <div class='upload'>
                                <h3>Update Timetable</h3>
                                <form action='' method='post' enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label for="file">Select an excel file:</label>
                                    <input type='file' id="excel_file" name='excel_file'><br>
                                    <input type='hidden' name='std' value="{{tt.std }}">
                                    <input type='submit' value='Update'>
                                </form> 
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
                
                
            </div>
                
    </div>
 
    {% endblock content %}

{% block scripts %}
    <script>
        var array = {{ tt_array|safe }}
        for (i=1; i<11;i++) {
            tt_json = JSON.parse(array[i-1]);
            table = document.getElementById(i.toString());
            header_row = document.createElement("TR");
    
            table.appendChild(header_row);
        
            for (header in tt_json) {
                cell = document.createElement("TH");
                header_row.appendChild(cell);
                cell.innerHTML = header;
            }
        
            const row_count = 5;
            for (var j=0; j<5; j++ ){
                row = document.createElement("TR");
                table.appendChild(row);
                index = j.toString();
                for (column in tt_json) {
                    cell = document.createElement("TD");
                    row.appendChild(cell);
                    
                    cell.innerHTML = tt_json[column][index];
                    }
                }

            }
    </script>
{% endblock scripts %}

