{% extends 'admin_portal/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'admin_portal/css/update.css' %}" type="text/css" >

{% endblock styles %}

{% block content %}
    <div class="main">    

        <div class="link_cont">

                <h2>Add new link for Class {{ object.std }} -</h2>

                    <form action='' method='post' enctype="multipart/form-data">

                        {% csrf_token %}
                        {{ form.link_url }}<br>
                                    
                                
                        <input type='submit' class='btn' value='Update'> 

                    </form>

        </div>
                
    </div>
{% endblock content %}
</body>
</html>


