
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Add Timetable</title>
    <link rel="stylesheet" href="{% static '/css/notice.css' %}" type="text/css" >
    <script src="https://kit.fontawesome.com/f91dab228a.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <div >
            <h2>Admin Portal</h2>
        </div>

        <p> Welcome Admin </p>

    </header> 


    <div class="nav">
        <div class="tabs">
            <div id="nav-box">
                <a class="current" href="{% url 'adminPortal:home' %}"><div >Class Links</div></a>
                <a href="{% url 'adminPortal:timetable' %}"><div>Timetables</div></a>
                <a href="{% url 'adminPortal:notice' %}"><div>Noticeboard</div></a>
            </div>
        </div>
    </div>

    <div class="main">    

        <div class="link_cont">

                Update timetable for Class {{ object.std }} -
                        <form action='' method='post' enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form.excel_file }}<br>
                                    
                                
                                <input type='submit' value='Upload'> 

                        </form>

        </div>
                
    </div>

</body>
</html>



